language: rust
rust:
  - stable

cache:
  - cargo
  - apt

env:
  global:
    - GITHUB_RELEASE_TITLE=Travis_build_#${TRAVIS_BUILD_NUMBER} 
    - SKIP_ELM=TRUE

install:
  # for elm support
  - npm install -g elm

  # for crosscompilation
  - rustup target add armv7-unknown-linux-gnueabihf
  
  # apt dependencies
  - sudo apt-get update
  - sudo apt-get install build-essential
  - sudo apt-get install gcc-arm-linux-gnueabihf # required for linking
 
  - arm-linux-gnueabihf-gcc --version # check if the gcc has been correctly installed

  # - sudo apt-get install binutils-arm-linux-gnueabihf # possibly required for ar for backtrace.rs / libbacktrace
  # - sudo apt-get install libc6-dev-armhf-cross libc6-dev # used by backtrace.rs CI config - may fix the issue?

script:
  - arm-linux-gnueabihf-gcc --version # check if the gcc has been correctly installed
  - cargo build --release --verbose --all
  - cargo test --verbose --all
  - cargo build --release --verbose --all --target=armv7-unknown-linux-gnueabihf
  - elm make elm-src/Main.elm

before_deploy:
  # package files for x64 release
  - mkdir linux_x64
  - cp target/debug/fidelitas linux_x64/
  - cp index.html linux_x64/
  - tar -zcvf fidelitas_linux_x64.tar.gz linux_x64

  # package files for armv7 release
  - mkdir linux_armv7
  - cp target/armv7-unknown-linux-gnueabihf/debug/fidelitas linux_armv7
  - cp index.html linux_x64
  - tar -zcvf fidelitas_linux_armv7.tar.gz linux_armv7

deploy:
  provider: releases
  skip_cleanup: true
  api_key: $GITHUB_ACCESS_TOKEN 
  file:
  - "fidelitas_linux_x64.tar.gz"
  - "fidelitas_linux_armv7.tar.gz"
  title: $GITHUB_RELEASE_TITLE
  on:
    branch: master