language: rust
rust:
  - stable

cache:
  - cargo
  - apt

env:
  global:
    - GITHUB_RELEASE_TITLE=Travis_build_#${TRAVIS_BUILD_NUMBER} 
    - SKIP_ELM=TRUE

install:
  # for elm support
  - npm install -g elm

  # for cross-compilation
  - rustup target add armv7-unknown-linux-gnueabihf
  
  # apt dependencies for cross-compilation
  - sudo apt-get update
  - sudo apt-get install build-essential
  - sudo apt-get install gcc-arm-linux-gnueabihf # required for linking
  - sudo apt-get install libc6-dev-armhf-cross
 
  - arm-linux-gnueabihf-gcc --version # check if the gcc has been correctly installed


script:
  - cargo build --release --verbose --all
  - cargo test --verbose --all
  - elm make elm-src/Main.elm
  - cargo build --verbose --all --target=armv7-unknown-linux-gnueabihf # cross-compilation still broken
  - cargo build --release --verbose --all --target=armv7-unknown-linux-gnueabihf # cross-compilation still broken
before_deploy:
  # package files for x64 release
  - mkdir linux_x64
  - cp target/debug/fidelitas linux_x64/
  - cp index.html linux_x64/
  - tar -zcvf fidelitas_linux_x64.tar.gz linux_x64

  # cross-compilation still broken
  # package files for armv7 release
  # - mkdir linux_armv7
  # - cp target/armv7-unknown-linux-gnueabihf/debug/fidelitas linux_armv7
  # - cp index.html linux_x64
  # - tar -zcvf fidelitas_linux_armv7.tar.gz linux_armv7

deploy:
  provider: releases
  skip_cleanup: true
  api_key: $GITHUB_ACCESS_TOKEN 
  file:
  - "fidelitas_linux_x64.tar.gz"
  # - "fidelitas_linux_armv7.tar.gz" # cross compilation still broken
  title: $GITHUB_RELEASE_TITLE
  on:
    branch: master