body {
    background-color: lightblue;
}


.medialist {
    background-color: plum;
}


.log {
    background-color: grey;
}


/* .controls {
    background-color: #a32828;
    display: flex;
    justify-content: space-around;
} */

.controls {
    background-color: #a32828;
    display: grid;
    grid-template-columns: repeat(3, 1fr);

}

.controls-center {
    background-color: orange;
    align-content: center;
    flex-direction: column;
}

.controls-buttons {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.controls-container {
    display: flex;
    justify-content: center;
}

.controls-container-prev {
    grid-column: 2;
    background-color: rgb(245, 197, 108);

}

.controls-container-next {
    grid-column: 4;
    background-color: rgb(245, 197, 108);
}

.controls-prev {

}

.controls-pause-play {
    grid-column: 3;
}

.controls-next {

}

.controls-progress {
    display: flex;
    justify-content: center;
    flex-direction: row;
}


progress::-moz-progress-bar {
    background: purple;
}

progress::-webkit-progress-value{
    background: purple;
}



.progress-bar {
    height: 0.5em;
    background-color: lightgray;
    border: none;
}

.controls-volume {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: nowrap;
    background-color: orchid;
}

.controls-volume-range {
    width: 50%;
}

.controls-volume-icon {
    /* TODO : make relative to parent size */
    padding: 15px 12px 15px 0;
}

.controls-mediainfo {
    background-color: yellowgreen;
}