<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Fidelitas Web Player</title>
  <script src="/static/controls.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css" integrity="sha256-mmgLkCYLUQbXn0B1SRqzHar6dCnv9oZFPEC1g1cwlkk=" crossorigin="anonymous" />
  <link rel="stylesheet" type="text/css" href="/static/player.css" />
</head>
<body>
  <div id="elm-node"></div>
  <script>
    var app = Elm.Main.init({node: document.getElementById("elm-node")});
    var ws = new WebSocket("ws://{{IP}}:{{PORT}}/api/ws");
    ws.onmessage = function(message)
    {
        console.log(message);
        // app.ports.websocketIn.send(JSON.stringify({data:message.data,timeStamp:message.timeStamp}));
        // app.ports.websocketIn.send(JSON.parse(message.data))
        app.ports.websocketIn.send(message.data)
    };
    app.ports.websocketOut.subscribe(function(msg) { ws.send(msg); });
  </script>
</body>
</html>