name: x86_64-pc-windows-tbd

on: [push]

jobs:
  build:

    runs-on: windows-latest

    steps:
    - uses: actions/checkout@v1
     
    - name: mkdir lib
      run: mkdir lib
      
    - name: Download libvlc for Windows
      run: Invoke-WebRequest "download.videolan.org/pub/videolan/vlc/3.0.8/win64/vlc-3.0.8-win64.7z" -OutFile vlc-3.0.8-win64.7z
    
    - name: Extract libvlc for Windows
      run: 7z.exe e .\vlc-3.0.8-win64.7z vlc-3.0.8\sdk\lib -o".\lib"
       
#     - name: Set absolute path for rustflags
#       run : $absolute_path = ResolvePath -Path ".\lib"
      
    - name: Set RUSTFLAGS variable for linking libvlc.lib
#       run : $env:RUSTFLAGS = "-L $absolute_path"
      run : $env:RUSTFLAGS = "-L ./lib"
        
    - name : Add .\lib to $env:LIB
      run: $env:LIB = "$env:LIB;\a\fidelitas\fidelitas\lib;"
        
    - name: Build
      run: cargo build --verbose
      
    - name: Run tests
      run: cargo test --verbose
